<link href="$path/themes/css.css" rel="stylesheet" type="text/css" />
        <link href="$path/themes/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="$path/themes/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="$path/themes/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="$path/themes/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="$path/themes/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="$path/themes/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="$path/themes/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="$path/themes/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="$path/themes/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="$path/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="$path/themes/toastr.min.css" rel="stylesheet" type="text/css" />
        <link href="$path/themes/themes.css" rel="stylesheet" type="text/css"  />