<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>我们的回忆录</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0,minimal-ui" />
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="shortcut icon" href="$path/images/love.ico" title="Favicon" />	
	<!--[if lte IE 8]>
		<link rel="stylesheet" type="text/css" href="$path/themes/ie.css" media="screen"/>
		<script type="text/javascript" src="$path/js/vendor/plug/ie-html5.js"></script>
	<![endif]-->
    <link rel='stylesheet' id='style-css'  href='$path/themes/style.css?ver=0.9' type='text/css' media='screen' />
    <link rel='stylesheet' id='font-awesome-css-css'  href='$path/themes/font-awesome.css?ver=0.3' type='text/css' media='screen' />
    <link rel='stylesheet' id='switcher'  href='$path/themes/switcher.css?ver=0.9' type='text/css' media='screen' />
    <link href="$path/themes/music.css" rel="stylesheet" type="text/css" />

     <link rel='stylesheet' href='$path/themes/components.min.css' type='text/css' media='screen' />     <link rel='stylesheet' href='$path/themes/bootstrap.min.css' type='text/css' media='screen' /> 
 </head>
	
<body class="home blog ajax_load loading_style1 wp_box leftbar_open" ms-controller="page">	
    <div id="wp_box" class="container"  ms-important="box">  
	    <div id="wrapper" class="toggle-wrapper" style="top:0;margin-top:0;">
            <style>
            .timeline-badge{padding-right:0!important;}
            .white {color: #fff;}
            .shadow {text-shadow: 1px 1px #000;}
            </style>
            <h1 class="white bold shadow" style="text-align:center;">我们的回忆录</h1>
		    <div class="portlet-body" ms-important="love">
                <div class="timeline  white-bg white-bg">
                    <!--那年我们相遇-->
                    <div class="timeline-item">
                        <div class="timeline-badge">
                            <img class="timeline-badge-userpic" src="/Template/Html/images/head.jpg"> </div>
                        <div class="timeline-body">
                            <div class="timeline-body-arrow"> </div>
                            <div class="timeline-body-head">
                                <div class="timeline-body-head-caption">
                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">那年我们相遇</a>
                                    <span class="timeline-body-time font-grey-cascade">2013-1-13</span>
                                </div>
                                                            
                            </div>
                            <div class="timeline-body-content">
                                ##<img class="timeline-body-img pull-right" />
                                <span class="font-grey-cascade">
                                在这个不好不坏的日子里，刚迷恋上喝茶的我和时常一脸笑容挂在嘴边的你相遇了，
                                我们以被90后不屑一顾的相亲方式凑到了一起，没有令人唏嘘的容颜和显赫的背景，
                                只是普通老百姓，没有门当户对的那种偏执。在初见你时，感觉这个爱笑的小姑娘甜甜的很不错，
                                可以试着交往下，然后就有了我们以后的故事...
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--一戒定情-->
                    <div class="timeline-item">
                        <div class="timeline-badge">
                            <img class="timeline-badge-userpic" src="$path/themes/love/jiezhi.jpg"> </div>
                        <div class="timeline-body">
                            <div class="timeline-body-arrow"> </div>
                            <div class="timeline-body-head">
                                <div class="timeline-body-head-caption">
                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">一戒定情</a>
                                    <span class="timeline-body-time font-grey-cascade">2013-1-16</span>
                                </div>
                                                            
                            </div>
                            <div class="timeline-body-content">
                                <span class="font-grey-cascade">
                                    还记得那对刻有我们名字的戒指吗？
                                    是仅相识3天的我为你戴上的，那时不止我的手在抖，心情也是激动的要命(我也是有女朋友的人了^-^)，
                                    我知道这不仅仅是个戒指，是信任与开始，我相信绝对不会是终点，傲娇的狮子座不允许始乱终弃，这也是一份责任的开始...
                                    <img class="" src="$path/themes/love/jie.jpg" />
                                </span>
                            </div>
                        </div>
                    </div> 
                    <!--那一夜-->
                    <div class="timeline-item">
                        <div class="timeline-badge">
                            <img class="timeline-badge-userpic" src="$path/themes/love/nayiye.jpg"> </div>
                        <div class="timeline-body">
                            <div class="timeline-body-arrow"> </div>
                            <div class="timeline-body-head">
                                <div class="timeline-body-head-caption">
                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">那一夜</a>
                                    <span class="timeline-body-time font-grey-cascade">2013-2-14</span>
                                </div>
                                                            
                            </div>
                            <div class="timeline-body-content">
                                <span class="font-grey-cascade">
                                    2月14日对于情人来说是个很重要的日子当别人都送玫瑰花、巧克力的时候<br />
                                    我问你:喜欢玫瑰花吗？<br />
                                    你说:喜欢(眼神中流露出喜爱)，但接着又说：看看就行了，不要浪费了，我就想吃巧克力。<br />
                                    当时心里万分感慨啊，多好的小姑娘啊，会过日子，结合一个月里相处的种种，得出个结论：
                                    心善、爱哭、爱心泛滥、脾气好、听话、会打算！那一刻我做出了个决定：就是你了！<br />
                                    这天带你逛遍了石路，吃了你爱吃的食物，最好玩的是：<br />
                                    我问：想吃什么？<br />
                                    你答：铁板豆腐<br />
                                    我又问：想吃什么？<br />
                                    你答：土豆<br />
                                    之后又好一通的感慨，多么好养活啊。<br />
                                    <img class="pull-right" src="$path/themes/love/shilu.jpg" />
                                    夜悄悄的来，带来了一份责任，又悄悄的走了，带走了我们的青涩...
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--领证-->
                    <div class="timeline-item">
                        <div class="timeline-badge">
                            <img class="timeline-badge-userpic" src="$path/themes/love/zhen.jpg"> </div>
                        <div class="timeline-body">
                            <div class="timeline-body-arrow"> </div>
                            <div class="timeline-body-head">
                                <div class="timeline-body-head-caption">
                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">一纸证明</a>
                                    <span class="timeline-body-time font-grey-cascade">2013-9-27</span>
                                </div>               
                            </div>
                            <div class="timeline-body-content">
                                <span class="font-grey-cascade">
                                    <img class="" src="$path/themes/love/zheng.jpg" />
                                    一直以为领证会和电视上演的一样，有所谓类似神父的家伙为我们证明、宣示，结果只是咔嚓一张照片一贴，
                                    户口簿登记一下就完事了。证到手，从今往后，我也是有老婆的人了，我会好好珍惜的，它不只是一张证明，也是两家人的幸福！
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--连理-->
                    <div class="timeline-item">
                        <div class="timeline-badge">
                            <img class="timeline-badge-userpic" src="$path/themes/love/xi.jpg"> </div>
                        <div class="timeline-body">
                            <div class="timeline-body-arrow"> </div>
                            <div class="timeline-body-head">
                                <div class="timeline-body-head-caption">
                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">连理</a>
                                    <span class="timeline-body-time font-grey-cascade">2014-1-25</span>
                                </div>               
                            </div>
                            <div class="timeline-body-content">
                                <span class="font-grey-cascade">
                                    <img class="" src="$path/themes/love/hun.jpg" />
                                    这天的心情是忐忑的，有激动，有害怕，还有些莫名的兴奋，
                                    激动的是我有媳妇了，害怕的是以后别的小野花和我没关系了(媳妇莫怪，男人的劣根性)，
                                    至于兴奋嘛，这个有点说不清道不明。
                                    <img class="" src="$path/themes/love/we.jpg" />
                                    对于我的懒媳妇莫怪，我们都会好好的！
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--礼物-->
                    <div class="timeline-item">
                        <div class="timeline-badge">
                            <img class="timeline-badge-userpic" src="$path/themes/love/gift.jpg"> </div>
                        <div class="timeline-body">
                            <div class="timeline-body-arrow"> </div>
                            <div class="timeline-body-head">
                                <div class="timeline-body-head-caption">
                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">礼物</a>
                                    <span class="timeline-body-time font-grey-cascade">2014-7-27</span>
                                </div>               
                            </div>
                            <div class="timeline-body-content">
                                <span class="font-grey-cascade">
                                    <img class="" src="$path/themes/love/baby.jpg" />
                                    这是我最好的生日礼物，谢谢媳妇十来个月的艰苦奋斗，爱你！
                                    <i class="fa fa-heart-o"></i>
                                    <i class="fa fa-heart-o"></i>
                                    <i class="fa fa-heart-o"></i>
                                    <img class="" src="$path/themes/love/baby-2.jpg" />
                                    简直萌化了<i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i>
                                    <br />
                                    原先是想给她起名叫：陆萌<br />
                                    2014年是马年，马靠什么成长？当然是草啦，所以萌字的寓意就很大了，
                                    具体深层含义就不点破了，留给媳妇个遐想
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--矛盾-->
                    <div class="timeline-item">
                        <div class="timeline-badge">
                            <img class="timeline-badge-userpic" src="$path/themes/love/maodun.jpg"> </div>
                        <div class="timeline-body">
                            <div class="timeline-body-arrow"> </div>
                            <div class="timeline-body-head">
                                <div class="timeline-body-head-caption">
                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">矛盾</a>
                                    <span class="timeline-body-time font-grey-cascade"></span>
                                </div>               
                            </div>
                            <div class="timeline-body-content">
                                <span class="font-grey-cascade">
                                    <img class="" src="$path/themes/love/ma.jpg" />
                                    贞贞的出现有喜有忧，喜就不必多说，忧的是家庭矛盾也从此开始。<br />
                                    先说说我妈：她呢苦日子过来的人，性格要强,比较强势，
                                    又喜欢看些养生的东西，自认为懂得事情比我们多，
                                    所以没事喜欢唠嗑，注意这个，注意那个的，不能找个，不能那个，
                                    当然不是说这不好，这也是对我的关心，听听就算了，不必刻意太当真，
                                    即使你觉得不对也不要去顶撞，听着就行，最后点点头，嗯一声就好了！
                                    这也是作为一个晚辈为人处世的修养！做个聆听者，而不是四眼相对的反驳！
                                    和她相处其实很简单，笑脸相迎就是了！<br /> 
                                    <img class="" src="$path/themes/love/zhengzhi.jpg" />
                                    再说说我媳妇：这个乖巧的小姑娘，生完贞贞后，变得我有些陌生了.
                                    说话大声了，脾气也见长，居然还敢顶嘴了。最要命的事，一生气就一副臭脸相对，
                                    时不时想来个离家出走， 甚是无奈！<br />
                                    <img class="" src="$path/themes/love/xiao.jpg" />
                                    我也不奢望你什么，只图一个和睦，只要你每天都笑笑，生气归生气，不要摆脸色，出什么事情别慌有我呢，
                                    你不必想太多，只要笑就行，看着一家人和和睦睦的让我做什么都行。
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--未来-->
                    <div class="timeline-item">
                        <div class="timeline-badge">
                            <img class="timeline-badge-userpic" src="$path/themes/love/end-p.jpg"> </div>
                        <div class="timeline-body">
                            <div class="timeline-body-arrow"> </div>
                            <div class="timeline-body-head">
                                <div class="timeline-body-head-caption">
                                    <a href="javascript:;" class="timeline-body-title font-blue-madison">未来</a>
                                    <span class="timeline-body-time font-grey-cascade"></span>
                                </div>               
                            </div>
                            <div class="timeline-body-content">
                                <span class="font-grey-cascade">
                                    <img class="" src="$path/themes/love/end.jpg" />
                                    媳妇，这胎小崽子你就安心坐月子吧，有什么都往我身上招呼，绝不二话，
                                    我要保证你的情绪到最高，把你之前的郁闷症给冲掉，还有烙下的腰酸腿疼的毛病！
                                    我是一只小蜜蜂，勤勤劳劳惹人爱！<br />
                                    <i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
	    </div>
	    <div class="clearfix"></div>
    </div>
    <link type="text/css" rel="stylesheet" media="screen" href="http://oss.rainman.me/rainman.me/js/sakura/jquery-sakura.css" />
    <audio class="hide" title="喜欢你(藏语版) - 边巴德吉" width="100%" src="http://m2.music.126.net/fNh67b3jfdd3EKaYC_7ZSQ==/7797736464769787.mp3" type="audio/mp3" controls="controls"></audio>
    <script src="$path/js/sea.js"></script>
    <script src="$path/js/config.js"></script>
    <script type="text/javascript">
        seajs.use(["module/love/love"], function (a) {
           
        })
    </script>
</body>
</html>
