.row-item ul{width:200px;height:200px;border:1px solid #ccc;display:block;padding:10px;float:left;margin:10px;}
.row-item ul li{display:block;height:25px;line-height:25px;padding-left:5px;cursor:default;}
.row-item ul li:hover{background:#ccc}
.row-item ul li.hover{background:#ccc}


  






