<!DOCTYPE html>
<html>
  <head id="head">
    <title>2016 christmas</title>
    <meta charset="UTF-8" />
    <meta name="keywords" content="2016 christmas" />
	  <meta name="description" content="2016 christmas" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0,minimal-ui" />
    <link rel="shortcut icon" href="http://llmztt.com/christmas-2016/assets/images/love.ico" title="Favicon" />	 
    <link rel="stylesheet" href="http://metronic.kp7.cn/assets/global/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://metronic.kp7.cn/assets/global/css/components.css">
  </head>
  <body> 
      <div id="app"></div> 
      
  </body>
</html>
