<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!-- Rem : If used via a DataAccess context, properties tag will be ignored 
  <properties resource="../../database.config"/> -->
  <properties embedded="Config.database.config, IBatisServer"/>
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <!-- Optional if resource -->
  <providers embedded="Config.providers.config,IBatisServer"/>
  <!-- ==== SqlClient configuration =========	-->
  <!-- Rem : If used via a DataAccess context, database tag will be ignored -->
  <database>
    <!-- Optional ( default ) -->
  <provider name="sqlServer1.1"/>
  <dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>

  <!-- Optional ( access ) 
<provider name="OleDb1.1"/>
<dataSource name="iBatisNet" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|llmOS.mdb"/>
-->
</database>

  <sqlMaps>
    <!-- user via embedded-->
    <sqlMap embedded="Map.Icon.xml,IBatisServer"/>
    <sqlMap embedded="Map.SysType.xml,IBatisServer"/>
    <sqlMap embedded="Map.Dict.xml,IBatisServer"/>
    <sqlMap embedded="Map.Article.xml,IBatisServer"/>
    <sqlMap embedded="Map.ArticleContent.xml,IBatisServer"/>
    <sqlMap embedded="Map.TypeAttrt.xml,IBatisServer"/>
    <sqlMap embedded="Map.TypeAttrDefValue.xml,IBatisServer"/>
    <sqlMap embedded="Map.Product.xml,IBatisServer"/>
    <sqlMap embedded="Map.ProductSku.xml,IBatisServer"/>
    <sqlMap embedded="Map.ProductSkuValue.xml,IBatisServer"/>
    <sqlMap embedded="Map.ProductParam.xml,IBatisServer"/>
    <sqlMap embedded="Map.ProductImage.xml,IBatisServer"/>
    <sqlMap embedded="Map.ProductSkuParam.xml,IBatisServer"/>
    <sqlMap embedded="Map.ProductSkuParamList.xml,IBatisServer"/>
    <sqlMap embedded="Map.Photo.xml,IBatisServer"/>
    <sqlMap embedded="Map.Config.xml,IBatisServer"/>
    <sqlMap embedded="Map.Admin.xml,IBatisServer"/>
    <sqlMap embedded="Map.Member.xml,IBatisServer"/>
    <sqlMap embedded="Map.SysPage.xml,IBatisServer"/>
    <sqlMap embedded="Map.Tag.xml,IBatisServer"/>
    <sqlMap embedded="Map.Commite.xml,IBatisServer"/>
	<sqlMap embedded="Map.UserCard.xml,IBatisServer"/>
	<sqlMap embedded="Map.UserGift.xml,IBatisServer"/>
	<sqlMap embedded="Map.UserSign.xml,IBatisServer"/>
    <sqlMap embedded="Map.Common.xml,IBatisServer"/>
      <!--<sqlMap embedded="Map.SqlClient.TestPerson.xml,DALFactory"/>-->
  </sqlMaps>
</sqlMapConfig>
