@charset "utf-8";
/* CSS Document */

.containter 
{
    _width:1000px;  
    margin:0 auto;
    min-width:1000px;
	max-width:1000px;
	font-size:12px;
}
#errorcontent{margin: 60px auto 30px auto; width:760px;}
#errorcontent:after {content: ".";display: block; height: 0;visibility: hidden;clear: both;}
#errorcontent{_zoom: 1;}
.errorimg{float: left;display: inline;}
.errortext{float: left; display: inline;margin-left: 10px; margin-top:35px;}
.errorinfo{font-size: 16px;font-weight: bold;margin-bottom: 30px;}
.erroradvice .youcan {display: block;margin-bottom: 10px;}
.erroradvice {line-height: 2;}
.erroradvice ol { margin-left: 25px;}
.erroradvice ol li {list-style-type: decimal;}



.containter .Recommend_content{border:1px solid #d9dce1; height:190px; overflow:hidden; width:760px; margin:50px auto;}
.Recommend_content .rec_th{background:url(../webimage/tb002.jpg) repeat; height:27px; line-height:27px; margin-top:1px; color:#373737; font-weight:bold; text-indent:10px;}
.Recommend_content .list{width:100%; overflow:hidden; float:left;}
.Recommend_content .list .list-item{width:100px; float:left; margin:15px 13px 0 -1px; border-left:1px dashed #b4b4b4; padding-left:13px;}
.Recommend_content .list .list-item .img-waper{width:82px; height:82px; margin:0 auto; overflow:hidden;border:1px solid #cccccc;}
.Recommend_content .list .list-item .img-waper img{width:82px;}
.Recommend_content .list .list-item p.price{color:#ff0000; font-size:14px; font-weight:bold; line-height:20px; text-align:center;}
.Recommend_content .list .list-item p.info{color:#3c3c3c; font-size:12px; line-height:15px; height:30px; overflow:hidden;}
.Recommend_content .list .list-item p.info a{color:#3c3c3c;}
.Recommend_content .list .list-item p.info a:hover{color:#080808;}

/**************************/
@media screen and (min-width:1197px){
	.containter{width:1197px; min-width:1197px; max-height:1197px;}
	.containter .Recommend_content{width:1008px;}
}