@charset "utf-8";
/* CSS Document */

.containter 
{
    _width:1000px;  
    margin:0 auto;
    min-width:1000px;
	max-width:1000px;
	font-size:12px;
}
.containter .cart-waper
{
    _width:1000px;  
    margin:0 auto;
    min-width:1000px;
	max-width:1000px;
	font-size:12px;
 
	  
	 
}
.containter .cart-nav
{ 
	position:relative;
	margin-top:30px;
	height:30px;
}

.containter .cart-nav .all
{
	position:absolute;
	top:0;left:0;
	width:70px;height:28px;line-height:28px;
	border:1px solid #dcdcdc;font-weight:bold;
	text-align:center;cursor:pointer;
}

.containter .cart-nav .count
{
	position:absolute;
	top:0;left:300px;
	margin-top:8px;
}
 
.containter .cart-nav .cart-nav-control
{
	position:absolute;
	top:0;right:0px;
	margin-top:8px;
}
.containter .cart-nav .cart-nav-control label
{
	
}
.containter .cart-nav .cart-nav-control input
{
	background:#ff5500;border:1px solid #ff5500;text-align:center;color:#fff;padding:2px 10px;margin-left:10px;cursor:pointer;
}
.containter .cart-nav .cart-nav-control label span
{
	font-weight:bold;color:#ff5500;margin-left:5px;
}





.containter .cart-title
{ 
	margin-top:30px;
	border-top:4px solid #a7cbff;
	height:35px;line-height:35px;
	background:#e2f2ff;
	
}

.containter .cart-title div{float:left;text-align:center;border-right:1px solid #fff;}
.containter .cart-title .select
{
    width:58px;padding-left:5px;line-height:35px;border-left:1px solid #daebff;
}
.containter .cart-title .select label
{
    margin-left:5px;
}

 
.containter .cart-title .goods
{
    width:290px;
}
.containter .cart-title .info
{
    width:160px;
}
.containter .cart-title .price
{
    width:128px;
}
.containter .cart-title .count
{
    width:110px;
}
.containter .cart-title .sum
{
    width:130px;
}
.containter .cart-title .opera
{
    width:111px;border-right-color:#daebff;
}
.containter .cart-title .opera-nb
{
    width:106px;
}
.containter .cart-title .norightborder
{
    border-right-width:0;
}
.containter .cart-title .heightauto
{
    border-right-width:0;
}




.containter .cart
{ 
	margin-top:30px;border:1px solid #a7cbff ;
}
.containter .cart .cart-header
{ 
	height:35px;background:#dbebfe;
}


.containter .cart .cart-item
{  
	border-bottom:1px solid #cadeff ; background:#eef6ff;color:#8e8e8e;
}

.containter .cart .cart-item .col{float:left;margin-top:15px;margin-bottom:15px;}
.containter .cart .cart-item .select
{
    width:58px;padding-left:5px;text-align:center;
}
.containter .cart .cart-item .select input
{
   margin-top:30px;
}

.containter .cart .cart-item .goods
{
    width:290px;
}
.containter .cart .cart-item .goods .pro
{
    
}
.containter .cart .cart-item .goods .pro img
{
    width:90px;height:90px;border:1px solid #ccc;float:left;
}
.containter .cart .cart-item .goods .pro label
{
    width:180px;display:block;float:left;padding-left:10px;margin-top:15px;
}
.containter .cart .cart-item .info
{
    width:160px;padding-top:10px;
}
.containter .cart .cart-item .info label
{
    display:block;margin-left:15px;margin-top:5px;
}
.containter .cart .cart-item .price
{
    width:128px;padding-top:10px;
}
.containter .cart .cart-item .price label
{
   display:block;margin-left:15px;margin-top:5px;text-decoration:line-through;
}
.containter .cart .cart-item .price  span
{
   color:#fa5600;margin-left:5px;
}
.containter .cart .cart-item .price  font
{
   margin-left:5px;
}
.containter .cart .cart-item .count
{
    width:110px;text-align:center;padding-top:30px;
}
.containter .cart .cart-item .count .waper
{
   margin-top:5px;display:block;
}
.containter .cart .cart-item .count .waper  a
{
    display: block;float: left;width: 20px;height: 21px;cursor: pointer;
}
.containter .cart .cart-item .count .waper .prev
{
   background: url(../webimage/item/jian.gif) no-repeat;
}
.containter .cart .cart-item .count .waper input
{
   display: block;float: left;width: 37px;height: 19px;line-height: 19px;text-align: center;border: 1px solid #bdbdbd;border-left:0;border-right:0;
}
.containter .cart .cart-item .count .waper .next
{
   background: url(../webimage/item/jia.gif) no-repeat;
}
.containter .cart .cart-item .sum
{
    width:130px;text-align:center;padding-top:30px;
}
.containter .cart .cart-item .sum label
{
    margin-top:5px;display:block;font-weight:bold;color:#fa5600;
}
.containter .cart .cart-item .opera
{
    width:106px;padding-top:30px;
}
.containter .cart .cart-item .opera a
{
   display:block;text-align:center;margin-top:5px;
}




.containter .cart-control
{ 
	margin-top:30px;width:998px;height:50px;line-height:50px;background:url(../webimage/cart_control_bg.png) repeat-x;border-left:1px solid #c8c8c8;border-right:1px solid #c8c8c8;position:relative;color:#666666;
}
.containter .cart-control .cc
{
   position:absolute;top:3px;left:10px;_top:15px;
} 
.containter .cart-control .cc label
{
   margin-left:10px;
} 

.containter .cart-control .cc a
{
   margin-left:35px;
} 

.containter .cart-control .total-area
{
   position:absolute;top:1px;right:120px;
} 
.containter .cart-control .total-area div
{
   float:left;
} 
.containter .cart-control .total-area input
{
   float:left;
} 

.containter .cart-control .total-area .total-info
{
   padding-right:15px;margin-right:15px;background:url(../webimage/cart_control_split.png) no-repeat right 0;
}
.containter .cart-control .total-area .total-info span
{
   color:#ff5536;font-weight:bold;margin:0 5px;font-size:14px;
}

.containter .cart-control .total-area .total
{
   margin-right:5px;vertical-align:middle;
}
.containter .cart-control .total-area .total span
{
   font-size:180%;margin:0 5px;
}
.containter .cart-control .total-area .total font
{
   font-size:180%;margin:0 5px;color:#ff5500;font-weight:900;
}
.containter .cart-control  .sub
{
   width:120px;height:50px;line-height:50px;color:#fff;font-weight:bold;background:#ff5500;border:1px solid #ff5500;cursor:pointer;position:absolute;top:0;right:-1px; font-size:16px;
}

/**************************/