@charset "utf-8";
/* CSS Document */

.webContainer{width:1000px; margin:20px auto;}
.FindPWContainer{width:998px; height:600px; border:1px solid #d4d4d4;}
.VerContainer{float:left; margin-top:70px; color:#717171;}
.VerContainer p{width:100%; float:left; margin-bottom:22px;}
.VerContainer span{width:185px; display:inline-block; text-align:right; float:left;line-height:28px;}
.VerContainer select{height:28px; color:#717171; font-size:14px; line-height:28px; -moz-line-height:28px; -o-line-height:28px; _line-height:28px; margin-right:10px;}
input{float:left; height:28px; border:1px solid #b1b1b1; line-height:28px; margin-right:5px;}
input.VerAddressText{width:268px;}
input.VerText{width:105px;}
input.VerBut{padding:0px 15px; background-color:#1169a2; border-color:#0e5690; color:#FFF;}
input.SendCode{color:#717171; padding:0px 5px; border:1px solid #e2e2e2; background-color:#f9f9f9;}
.VerContainer img{float:left;}
.VerPrompt{color:#717171; border:1px dashed #e4e4e4; width:780px; height:258px; float:left; margin-left:75px; padding-left:40px; padding-top:20px;}
.Divlink{float:left; padding-top:30px; width:400px;}
.Divlink span{width:100px; text-align:right; float:left; line-height:28px;}
.Divlink b{float:left; margin-right:10px;}
.Divlink p{margin-bottom:30px; line-height:28px; width:100%; float:left;}
.PromptMes{float:right; border-left:1px dotted #f4f4f4; padding:35px 0px 35px 25px; width:340px; font-size:12px;}
.PromptMes img{float:left;}
.PromptMes ul{margin-left:10px;}
.PromptMes ul li{list-style:inside; margin-top:8px;}
.PromptMes ul li a{color:#3985d0; background:url(../webimage/kefu.png) 0 -18px no-repeat; text-indent:13px; display:inline-block;}
.PromptMes ul li a:hover{color:#dd465e; background:url(../webimage/kefu.png) no-repeat;}
.DivRest{margin-left:200px; margin-top:100px;}
.DivRest p{margin-bottom:40px;}
.DivRest img{float:left;}
.RestMessage{float:left; margin-left:15px;}
.RestMessage p{margin-bottom:10px;}
.RestMessage font{color:#ff0087;}
.RestMessage h3{color:#313131;}