@charset "utf-8";
/* CSS Document */

.containter 
{
    _width:1000px;  
    margin:0 auto;
    min-width:1000px;
	max-width:1000px;
	font-size:12px;
}
 
.containter .crumbs
{
    margin:20px 0 20px 0; 
}


.containter .help-waper
{
    border:1px solid #d0cfcf;
}
.containter .help-waper .content-waper
{
    text-align:center;
}


.containter .help-waper h3
{
    height:44px;line-height:44px;background:url(../webimage/help_title_bg.png) repeat-x;text-indent:2em;
    font-weight:bold;color:#fff;font-size:16px;
}
.containter .help-waper .help-ques
{
    padding:20px 30px 100px 30px;
}
.containter .help-waper .help-a
{
    padding:20px 30px 100px 30px;font-family:ו;line-height:22px;
}
.containter .help-waper .help-a b
{
   display:block;margin-top:20px;margin-bottom:10px;
}
.containter .help-waper .help-ques b
{
   display:block;padding:20px 0;font-size:16px;
}
.containter .help-waper .help-ques strong
{
   color:#ff601c;margin:20px 0 5px 0;display:block;
}

.containter .help-waper .help-ques p
{
   line-height:25px;
}
.containter .help-waper .help-ques p a
{
   color:#0f32c9;
}
.containter .help-waper .help-ques p a:hover
{
   color:#ff601c;
}


.containter .help-waper .service-waper
{
    padding:20px 30px 100px 60px;
}
.containter .help-waper .service-waper .hr
{
    border-bottom:1px solid #eeeeee;margin:10px 0;
}
.containter .help-waper .service-waper h4
{
    font-size:16px;margin: 0 0 20px -30px;padding-left:30px;
}
.containter .help-waper .service-waper .help-online
{
    background:url(../webimage/help/help_online.png) no-repeat;
}
.containter .help-waper .service-waper .help-tel
{
    background:url(../webimage/help/help_phone.png) no-repeat;
}
.containter .help-waper .service-waper .help-address
{
    background:url(../webimage/help/help_address.png) no-repeat;
}
.containter .help-waper .service-waper .help-email
{
    background:url(../webimage/help/help_email.png) no-repeat;
}
.containter .help-waper .service-waper p
{
    line-height:24px;
}
.containter .help-waper .service-waper p input
{
   margin:0 5px 0 5px;
}
.containter .help-waper .service-waper p select
{
   margin:0 10px 0 5px;
}
.containter .help-waper .service-waper p em
{
  font-style:normal;color:#cc3300;font-weight:bold;margin:0 5px;
}
.containter .help-waper .service-waper .spc
{
    
}
.containter .help-waper .service-waper .spc label
{
    display:inline-block;height:24px;line-height:24px;float:left;
}
.containter .help-waper .service-waper .spc a
{
    display:inline-block;float:left;margin:0 5px;
}
.containter .help-waper .service-waper .spc span
{
    display:block;color:#cc3300;clear:both;
}
/**************************/