@charset "utf-8";
/* CSS Document */

.containter 
{
    width:1000px;  
    margin:0 auto; 
	font-size:12px;
	overflow:visible;
}

.containter .cate
{
    position:absolute;top:0;left:0;height:395px;background:#fff;
    width:192px;color:#a0a1a0;border-bottom:1px solid #f4f4f4;
    -webkit-box-shadow: #a89b96 0px 0px 10px;
    -moz-box-shadow: #a89b96 0px 0px 10px;
    overflow:visible;
    box-shadow: #a89b96 0px 0px 10px;behavior: url(PIE.htc);
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#a89b96')";
    /* For IE 5.5 - 7 */
    _filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#a89b96');

}
.containter .cate  .cur-dd
{
    border:2px solid #3d86d5;
    z-index:99999;
 
}
.containter .cate dl
{
    display:block;border:2px solid #fff;background:#fff;
}
.containter .cate dl dt
{
    height:35px;position:relative;
}
.containter .cate dl dd
{
    padding:3px 0 0px 0px;position:relative;border:2px solid #fff;
    padding-bottom: 5px;
   +padding-bottom: 4px;
   _padding-bottom: 3px;
}
.containter .cate dl .cur-dd
{
    border:2px solid #0b64a9;z-index:99999;
}
.containter .cate dl dd .more-cate
{
    display:none;position:absolute;top:-2px;right:-466px;width:420px;
    background:#fff;padding:5px 20px 20px 20px;border:2px solid #0b64a9;
    line-height:22px;_top:0px;_right:-464px;
    
    display:none;position:absolute;top:-39px;right:-466px;width:420px;
    background:#fff;padding:25px 20px 20px 20px;
    line-height:28px;_top:-38px;_right:-464px;min-height:80px;
    border:2px solid #3d86d5;
    
}
.containter .cate dl dd .split
{
    display:none;position:absolute;top:-37px;right:-4px;width:4px;
    background:#fff;z-index:99999;_top:-36px;_right:-2px;
    height:62px; 
    _height:62px;
    height:62px\0;
    height:62px\9\0;
   
}
.containter .cate    .white
{
    background:#fff;
}

@-moz-document url-prefix() { .containter .cate dl dd .split { height:62px !important;} }
.containter .cate dl dd .more-cate a
{
    padding:0 10px 0 0;
}
.containter .cate dl dd a
{
    padding: 0 6px 0 4px;_padding: 0 6px 0 4px;+padding: 0 6px 0 4px;
}
.containter .cate dl .cate-item
{
    background:#f4f4f4;
}
.containter .cate dl  .white
{
    background:#fff;
}
.containter .cate dl dt h1
{
    height:36px;padding:0 0 0 40px;font-size:14px;line-height:36px;
}
.containter .cate dl dt .girl
{
    background:url(../webimage/cate_03.png) no-repeat 10px 50%;
}
.containter .cate dl dt .boy
{
    background:url(../webimage/cate_07.png) no-repeat 10px 50%;
}
.containter .cate dl dt .ny
{
    background:url(../webimage/cate_10.png) no-repeat 10px 50%;
}
.containter .cate dl dt .child
{
    background:url(../webimage/cate_12.png) no-repeat 10px 50%;
}
.containter .cate dl dt .shoes-woman
{
    background:url(../webimage/cate_15.png) no-repeat 10px 50%;
}
.containter .cate dl dt .shoes-man
{
    background:url(../webimage/cate_18.png) no-repeat 10px 50%;
}


.containter .notice
{
    position:absolute;top:10px;right:0px;height:305px;background:#f7f7f7;
    width:192px;color:#a0a1a0;border-bottom:1px solid #f7f7f7;
    -webkit-box-shadow: #f7f7f7 0px 0px 10px;
    -moz-box-shadow: #f7f7f7 0px 0px 10px;
    overflow:visible;
    _left:800px;
    filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8; 
    box-shadow: #f7f7f7 0px 0px 10px;
    behavior: url(PIE.htc);
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#f7f7f7')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#f7f7f7');

}

.containter .notice .waper
{
    filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1; 
	color:#4a4a4a;
}
.containter .notice .waper span
{
    font-size:14px;display:block;margin:20px 0 20px 20px;font-weight:bold;
}
.containter .notice .waper a
{
    display:block;margin:20px 0 20px 20px;
}

.containter .notice .waper a:hover
{
    color:#ff0000;
}

 
.containter .cate dl dt i
{
    height:15px;width:15px;position:absolute;top:10px;right:10px;display:block;
    background:url(../webimage/cate_more.png) no-repeat;
}




.containter .floor
{
    margin:15px auto 15px auto;
}
.containter .floor h4
{font-weight:900;position:relative;
	font-family:"黑体";
	text-indent:6px;
	color:#00b39d;
	font-size:24px;
	margin-bottom:15px;
}
.containter .floor h4 .kw
{
    position:absolute;right:0;top:0px;
    font-weight:normal;font-size:12px;line-height:35px;
	font-family:"宋体";
}
.containter .floor h4 a:hover
{
    color:#ff0000;font-weight:bold;
}
.containter .floor h4 .kw em
{
    font-weight:bold;font-size:150%;color:#676666;padding:0 5px;
}
.containter  .doorway
{   
}
.containter  .floor .space
{
    
}
.containter  .floor .space .unit
{
    border:1px solid #e7e7e7;
}

.containter  .floor .space .new-pro
{
    width:193px;
	height:475px;
	overflow:hidden; position:relative;
}
.containter  .floor .space .new-pro .tip
{
   position:absolute;bottom:0;left:0;background:#788fe7;
   filter:alpha(opacity=63);
   -moz-opacity:0.63;
   -khtml-opacity: 0.63;
   opacity: 0.63; 
   height:90px;
   width:100%;
}
 
.containter  .floor .space .new-pro .waper
{
   margin-top:3px;
   text-align:right;
   padding-right:5px;
   color:#fff;
   position:absolute;
   bottom:10px;
   right:10px;
}
.containter  .floor .space .new-pro .waper h4
{
   display:block;width:100%; font-size:200%;
   font-weight:600;cursor:default; color:#FFF;
}
.containter  .floor .space .new-pro .waper a
{
    color:#fff; margin-top:20px; display:block;
}
.containter  .floor .space .new-pro .waper a:hover
{
    color:#FC3;
}


.containter  .floor .space .hot
{
    width:332px;height:322px;border-left:0;overflow:hidden;
}
.containter  .floor .space .hot .tip
{
    height:62px;padding-left:15px;line-height:62px;background:#ff718d;color:#fff;overflow:hidden;
}
.containter  .floor .space .hot .tip label
{
    font-size:180%;font-weight:500; font-style:oblique; font-family:"黑体";
}
.containter  .floor .space .hot .tip label i{background:url(../webimage/jhhicon.png) no-repeat; width:20px; height:20px; margin-left:10px; position:absolute; top:20px; display:inline-block;}
.containter  .floor .space .hot .tip span
{
    margin-left:60px;
}
.containter  .floor .space .hot .tip span a
{
    margin:0 5px 0 5px;color:#fff; font-size:14px;
}
.containter  .floor .space .hot .tip span a:hover
{
    color:#2ed;
}

.containter  .floor .space .hot .waper
{
    
}
.containter  .floor .space .hot .waper .large
{
    width:202px;height:260px;float:left;
}
.containter  .floor .space .hot .waper .large img
{
    width:202px;height:260px;display:block;
}

.containter  .floor .space .hot .waper .small
{
    width:128px;height:260px;float:left;border-left:1px dashed #dfdfdf;
    _width:128px;overflow:hidden;
}
.containter  .floor .space .hot .waper .small img
{
    width:112px;height:87px;
	margin-top:10px;
}

.containter  .floor .space .hot .waper .small .item
{
    margin:0 auto;padding-left:8px;
}
.containter  .floor .space .hot .waper .small .item p
{
    width:95%;text-align:center;border-bottom:1px dashed #dfdfdf;line-height:22px;+line-height:20px;_line-height:20px; height:22px; overflow:hidden;
}
.containter  .floor .space .hot .waper .small .item p label
{
   display:block;color:#656565;
}
.containter  .floor .space .hot .waper .small .item p span
{
   display:block;color:#909090;
}
.containter  .floor .space .hot .waper .small .item a:hover label
{
   color:#ff0000;
}
.containter  .floor .space .hot .waper .small .item a:hover span
{
   color:#ff0000;
}




.containter  .floor .space .trade
{
    width:471px;height:322px;border-left:0;overflow:hidden;position:relative;
}
.containter  .floor .space .trade .waper .large
{
    height:auto;
}
.containter  .floor .space .trade .waper .large img
{
    height:324px;
}


.containter  .floor .space .trade .waper .small
{
    height:322px;
}
.containter  .floor .space .trade .waper .small .item
{
   *padding-left: 0px;
}
.containter  .floor .space .trade .tip
{
    height:45px;background:#9fd094;
    bottom:0;left:0;position:absolute;width:100%;
    filter:alpha(opacity=80);
   -moz-opacity:0.8;
   -khtml-opacity: 0.8;
   opacity: 0.8;
}
.containter  .floor .space .trade .tip_info{position:absolute; bottom:0; color:#FFF; line-height:45px; height:45px; padding:0 15px;}
.containter  .floor .space .trade .tip_info label{font-size:30px; font-weight:bold;}
.containter  .floor .space .trade .tip_info span{display:inline-block; position:absolute; margin-left:180px; width:150px;}
.containter  .floor .space .trade .tip_info a{color:#FFF; margin-left:5px;}
.containter  .floor .space .trade .tip_info a:hover{color:#900;}
.containter i{font-style:normal;}
.containter  .floor .space .trade .waper .small .item img
{
   height:102px;
   margin-top:8px;
}
.containter  .floor .space .trade .waper .small .item p
{
 padding-bottom:4px;
}
.containter  .floor .space .trade .waper .slide
{
    width:137px;height:322px;overflow:hidden;
    border-left:1px dashed #dfdfdf; _width:138px;
}
.containter  .floor .space .trade .waper .slide img{height:322px;}

.containter  .floor .space .notopborder 
{
    border-top:0;
}

.containter  .floor .space .brand 
{
    float:left;width:500px;height:151px;background:#f2f3f5;_height:151px;overflow:hidden;+height:151px;
}


.containter  .floor .space .brand  h5
{
    font-size:180%;color:#000000;margin-top:30px; padding-left:30px; font-family:'黑体'; font-style:oblique;cursor:pointer;
}
.containter  .floor .space .brand  h5 i{width:20px; height:20px; display:inline-block; background:url(../webimage/jhhicon.png) no-repeat 0 -40px; position:absolute;margin-left:10px; margin-top:3px;}
.containter  .floor .space .brand  img
{
    position:absolute;bottom:0; right:0;
}
.containter  .floor .space .brand  .BrandList{width:300px; margin-left:30px; margin-top:5px;}
.containter  .floor .space .brand  a
{
    display:block;float:left;margin:5px;
    width:68px;height:30px;line-height:30px;text-align:center;
    background:#fff;color:#6d6d6d;border:1px solid #fff;overflow:hidden;
}
.containter  .floor .space .brand  label
{
    display:block;width:68px;height:30px;cursor:pointer;
    
}
.containter  .floor .space .brand  a:hover
{
    background:#b48c4f;color:#fff;border:1px solid #eebd72;
}
.containter  .floor .space .brand  .first
{
}

.containter  .floor .space .influx 
{
    float:left;width:302px;background:#f2f3f5;border-left: 1px solid #dfdfdf;
    _height:151px;overflow:hidden;+height:151px;height:151px;
    
}

.containter  .floor .space .influx  h5
{
    font-size:180%;color:#000000;margin-top:30px; margin-bottom:20px; cursor:pointer; padding-left:20px;font-family:'黑体'; font-style:oblique;
}
.containter  .floor .space .influx  h5 i{width:20px; height:20px; display:inline-block; background:url(../webimage/jhhicon.png) no-repeat 0 -40px; position:absolute; margin-left:10px; margin-top:3px;}
.containter  .floor .space .influx  p
{
    color:#a9a9aa;margin: 5px 5px -5px 12px;
}
.containter  .floor .space .influx  img
{
    position:absolute;bottom:0;left:320px;
}
.containter  .floor .space .influx  a
{
    display:block;float:left;margin:21px 5px 15px 5px;
    width:55px;height:30px;line-height:30px;text-align:center;
    background:#fff;color:#6d6d6d;border:1px solid #fff;
    _margin:21px 5px 15px 5px;overflow:hidden;
}
.containter  .floor .space .influx  a label
{
    display:block;cursor:pointer;
    width:55px;height:30px;
   
}
.containter  .floor .space .influx  a:hover
{
    background:#b48c4f;color:#fff;border:1px solid #eebd72;
}

.containter  .floor .space .influx  .first
{
   margin-left:10px; 
}


 
.containter  .first-floor h4
{
    border-bottom-color:#fd5e68;
    color:#fd727a;
    margin-top:20px;
   
}
.containter  .second-floor h4
{
    border-bottom-color:#5d73de;
    color:#3a58ec;
    margin-top:20px;
   
}
.containter  .three-floor h4
{
    border-bottom-color:#a46ed0;
    color:#a36fd3;
    margin-top:20px;   
}
.containter  .four-floor h4
{
    border-bottom-color:#fc9c62;
    color:#fb9e61;
    margin-top:20px;   
}
.containter  .five-floor h4
{
    border-bottom-color:#f86077;
    color:#fa7b8e;
    margin-top:20px;   
}
.containter  .six-floor h4
{
    border-bottom-color:#6ea722;
    color:#7aaf3b;
    margin-top:20px;   
}
.containter  .floor .space{position:relative;}
.containter  .floor .space .slide-door
{ 
   background:#fd727a;margin:0 auto;width:182px; height:360px;border:2px solid #fd727a;color:#fff;padding-left:10px;float:left;
   word-wrap: break-word;word-break:break-all;
}
.containter  .second-floor .space .slide-door
{ 
   background:#758ad9;border-color:#758ad9;
}
.containter  .three-floor .space .slide-door
{ 
   background:#c3a4dd;border-color:#c3a4dd;
}
.containter  .four-floor .space .slide-door
{ 
   background:#fdb17f;border-color:#fdb17f;position:relative;
}
.containter  .five-floor .space .slide-door
{ 
   background:#f67b8f;border-color:#f67b8f;
}
.containter  .six-floor .space .slide-door
{ 
   background:#a0c17c;border-color:#a0c17c;
}

.containter  .floor .space .slide-door h6
{ 
   font-size:120%;margin:20px 0 12px 0;
}
.containter  .floor .space .slide-door a
{ 
   color:#fff;line-height:22px;cursor:pointer;display:inline-block; width: 87px;
}

.containter  .floor .space .slide-door a:hover
{ 
   color:#333;
}
.containter  .floor .space .slide-door a label
{ 
   padding:0 13px 0 0;cursor:pointer;
}

.containter  .floor .space .slide-door img
{ 
   /***margin:10px 0 -1px -9px; **/
   position:absolute;bottom:3px;left:3px;
}
.containter  .four-floor .space .slide-door img
{ 
   /***margin:10px 0 -1px -9px; **/
   position:absolute;bottom:1px;left:1px;
}
.containter  .floor .space .room-list
{ 
    color:#535353;float:left; padding-left:10px;width:793px;
}
.containter  .floor .space .room-list .room-item
{ 
    width:260px;height:148px;overflow:hidden;float:left; margin-top:34px;
}
.containter  .floor .space .room-list .room-item img
{ 
    width:148px;height:148px;float:left;
}
.containter  .floor .space .room-list .room-item .room-item-info
{ 
    padding:0 0 0 10px;width:102px;float:left;
}
.containter  .floor .space .room-list .room-item .room-item-info h1
{ 
   font-size:110%;font-weight:normal;margin:5px 0 20px 0 ;
}
.containter  .floor .space .room-list .room-item .room-item-info span
{ 
   width:60px;height:24px;line-height:24px;display:block;border:1px solid #e5e5e5;text-align:center;
}
.containter  .floor .space .room-list .room-item .room-item-info label
{ 
   width:60px;height:24px;line-height:24px;display:block;border:1px solid #e5e5e5;text-align:center;color:#e43536;border-top-width:0;
}
.containter  .floor .space .room-list .room-item .room-item-info p
{ 
   margin:10px 0;color:#666666;
}
.containter  .floor .space .room-list .room-item .room-item-info p font
{ 
   color:#929292;
}


.rel{position:relative;}
.z9999{z-index:9999}
.fl{float:left;}


.vm-fixed {
	 height:130px;
	position:fixed;
	bottom:50px;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight - 100));
	right:1%;
	display:block;
	z-index:10000;
	padding:10px 0px;
}
.vm-fixed .ServiceSpan{width:55px;float:left;}
.vm-fixed p{width:100%;}
.vm-fixed span{background:url(../webimage/Chat_03.gif) no-repeat; width:55px; height:54px; display:block; margin-bottom:10px; text-indent:-9999px; overflow:hidden; cursor:pointer;}
.vm-fixed .vm-gotop{background:url(../webimage/Chat_10.gif) no-repeat; width:54px; height:54px; display:block; text-indent:-9999px; overflow:hidden;}
.vm-fixed .CustomerService{background:url(../webimage/divback2_06.png) no-repeat bottom; width:152px; height:126px; overflow:hidden; padding:12px 12px 0px 12px; margin-left:-180px; float:left; top:15px; left:10px;}
.vm-fixed .CustomerService p{font-size:12px; line-height:30px; height:25px; margin-bottom:5px; padding-left:6px;}
.vm-fixed .CustomerService p span{background:url(../webimage/Chat_06.jpg) no-repeat; text-indent:-9999px; overflow:hidden; width:17px; height:17px; float:right; margin:6px 8px 0px 0px; cursor:pointer;}