body {
    background-color: transparent;
    background: #fff;
}
.w-line {
    border-bottom:2px solid #c40001;
} 
#container-box {
  margin-top: 10px;
}
#w-header-box .w-header {
    width: 1000px;
}

.container 
{
    _width:1000px;  
    margin:0 auto;
    min-width:1000px;
	max-width:1000px;
	
}
 
.container .crumbs
{
    margin:20px 0 20px 0; 
}
 
.container .cate
{
    background:#f7f7f7;
    border:1px solid #e3e3e3;
    border-bottom-width:2px;
}

.container .cate .large
{
    width:100px;float:left;
}
.container .cate .large label
{
    margin:15px 0 0 15px;display:block;
}

.container .cate .small
{
    width:1178px;float:left;background:#fff;
}

.container .cate .small span
{
    width:130px;float:left;_width:130px;
    height:22px;line-height:22px;
    display:block;
    text-align:left;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:3px;
}
 

.container .cate .small span a
{
    color:#737373;
	font-size:12px;
}

.container .cate .small span a:hover
{
    color:#2ed2ed;
}



.container .parame
{
    background:#f7f7f7;
    border:1px solid #e3e3e3;
    border-bottom-width:2px;
    margin-top:15px;
}


.container .parame .parame-item
{
    height:34px;
    line-height:34px;
    border-bottom:1px dashed #e3e3e3;
    overflow: hidden; 
    
}


.container .parame .parame-item .parame-name
{
    width:100px;
    float:left;
    height:34px;
}

.container .parame .parame-item .parame-name label
{
    margin:0 0 0 15px;display:block;
}



.container .parame .parame-item .parame-value
{ 
    width:898px;
    float:left;
    background:#fff;
    height:34px;
    line-height:34px;
	font-size:12px;
}


.container .parame .parame-item .parame-value span
{
    float:left;
    _width:70px; 
    display:block;
    text-align:left;
    margin-left:30px; 
}

.container .parame .parame-item .parame-more
{
    width:83px;
    float:left;
    background:#fff;
    height:34px;
}
.container .parame .parame-item .parame-more a
{
    width:83px;
    height:34px;
    display:block;
    background:url(../images/search_more.gif) 50% 50% no-repeat;
    cursor:pointer;
}


.container .parame .no-border
{
    border-bottom:0; 
    text-align:right;
    padding-right:20px;
}

.container .parame .no-border2
{
    border-bottom:0; 
   
}


 

.container .keyword
{
    background:#f7f7f7;
    border:1px solid #e3e3e3;
    border-bottom-width:2px;
    margin-top:15px;
    height:34px;
}

.container .keyword .name
{
    width:100px;float:left;
}
.container .keyword .name label
{
    margin:10px 0 0 15px;display:block;
    color:#ff4800;font-weight:bold;
}

.container .keyword .list
{
    width:898px;float:left;
}

.container .keyword .list span
{
    width:100px;float:left;_width:90px;
    height:22px;line-height:22px;
    display:block;
    text-align:left;
    margin-left:30px;
    margin-top:5px;
    margin-bottom:3px;
}
 

.container .keyword .list span a
{
    color:#737373;
}

.container .keyword .list span a:hover
{
    color:#2ed2ed;
}

 


.container .parame2
{
    background:#f7f7f7;
    border:1px solid #e3e3e3;
    border-bottom-width:2px;
    margin-top:15px;
}


.container .parame2 .parame-item
{
    height:34px;
    line-height:34px;
    border-bottom:1px dashed #e3e3e3;
    overflow: hidden;
}


.container .parame2 .parame-item .parame-name
{
    width:100px;
    float:left;
    height:34px;
}

.container .parame2 .parame-item .parame-name label
{
    margin:0 0 0 15px;display:block;
}



.container .parame2 .parame-item .parame-value
{
    width:898px;
    float:left;
    background:#fff;
    height:34px;
    line-height:34px;
}


.container .parame2 .parame-item .parame-value span
{
    width:120px;
    float:left;
    _width:110px; 
    display:block;
    text-align:left;
    margin-left:30px; 
	font-size:12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container .parame2 .parame-item .parame-more
{
    width:83px;
    float:left;
    background:#fff;
    height:34px;
}
.container .parame2 .parame-item .parame-more a
{
    width:83px;
    height:34px;
    display:block;
    background:url(../images/search_more.gif) 50% 50% no-repeat;
}

.container .parame2 .no-border2
{
    border-bottom:0; 
   
}








.container .keyword2
{
    background:#f7f7f7;
    border:1px solid #e3e3e3;
    border-bottom-width:2px;
    margin-top:15px;
    height:34px;
}

.container .keyword2 .name
{
    width:120px;float:left;
}
.container .keyword2 .name label
{
    margin:10px 0 0 15px;display:block;
    color:#ff4800;
}

.container .keyword2 .list
{
    width:878px;float:left;
}

.container .keyword2 .list span
{
    width:90px;float:left;_width:80px;
    height:22px;line-height:22px;
    display:block;
    text-align:left;
    /*margin-left:30px;*/
    margin-top:5px;
    margin-bottom:3px;
    text-align:center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.container .keyword2 .list span a
{
    color:#737373;
}

.container .keyword2 .list span a:hover
{
    color:#2ed2ed;
}


 

.container .main
{
    width:100%;
}

.container .main .product
{
    width:79%;float:
    left; 
}

.container .main .product .pro-nav
{
    background:#f7f7f7;
    border:1px solid #e3e3e3;
    border-bottom-width:2px;
    margin-top:15px;
}


.container .main .product .pro-nav .control
{
    height:40px;line-height:40px;
    padding-left:10px;
}


.container .main .product .pro-nav .control .order
{
    width:400px;float:left;
}

.container .main .product .pro-nav .control .order label
{
    display:block;float:left;margin-right:10px;
}

.container .main .product .pro-nav .control .order a
{
    display:block;float:left;
    width:46px;height:26px;text-align:left;
    line-height:26px;color:#595959;
    background:#fff;
    margin:5px 5px 0 5px;border:1px solid #cecbce;
    font-size:12px;
    padding-left:10px;
    position:relative;
}
.container .main .product .pro-nav .control .order a:hover
{
   text-decoration:none;
}

.container .main .product .pro-nav .control .order a span
{
    display:block;
    width:7px;height:8px;
    position:absolute;
    top:0;right:10px;
    margin-top:8px;
}



.container .main .product .pro-nav .control .order a .zh
{
     background:url(../webimage/sort_2.png) no-repeat ;
}
.container .main .product .pro-nav .control .order a .zh-down
{
     background:url(../webimage/sort_2.png) no-repeat 0 -8px ;
}

.container .main .product .pro-nav .control .order a .sale
{
     background:url(../webimage/sort.png) no-repeat ;
}
.container .main .product .pro-nav .control .order a .sale-down
{
     background:url(../webimage/sort.png) no-repeat 0 -8px;
}

.container .main .product .pro-nav .control .order .cur
{
    background:#ff8b00;
    color:#fff;border-color:#ff8b00;
}





.container .main .product .pro-nav .control .pageinfo
{
    width:370px;float:right;
}
.container .main .product .pro-nav .control .pageinfo  label
{
    color:#e4393c;font-weight:bold;display:block; float:left;
    width:120px;height:36px;line-height:36px;
}
.container .main .product .pro-nav .control .pageinfo  .split
{
  float:left;  width:4px;height:36px;background:url(../images/split.gif) no-repeat 50% 50%;display:block;
  margin-left:10px;
}
.container .main .product .pro-nav .control .pageinfo  .pagebox
{
  
  width:85px;float:left;
}

.container .main .product .pro-nav .control .pageinfo  .pagebox .cur-page
{
  margin-left:10px;
  color:#e4393c;font-weight:bold;
  
}
.container .main .product .pro-nav .control .pageinfo  .pagenav 
{
  
 float:right;width:145px;margin-top:6px;
  
}


.container .main .product .pro-nav .control .pageinfo  .pagenav .prev
{
    float: left;
    width: 66px;
    height: 28px;
    margin-right: 5px;
    background: url(../images/up_page.jpg) no-repeat;
    text-indent: -9999px;
    cursor: pointer;
    
}


.container .main .product .pro-nav .control .pageinfo  .pagenav .next
{
    float: left;
    width: 66px;
    height: 28px;
    margin-left: 5px;
    background: url(../images/down_page.jpg) no-repeat;
    text-indent: -9999px;
    cursor: pointer;
    
}




.container .main .product .pro-nav .select
{
    height:40px;line-height:40px;
    padding-left:10px;border-top:1px solid #e7e3e7;
}


.container .main .product .pro-nav .select .selectall
{
    float: right;width:100px;text-align:right;font-size:12px; color:#525252;
}
.container .main .product .pro-nav .select .selectall input{float:right; margin-top:14px; margin-left:5px;}
.container .main .product .pro-nav .select .download
{
    float: right;width:150px;margin-left:20px;
}

.container .main .product .pro-nav .select .download a
{
    width:105px;height:25px;display:block;text-align:center;line-height:25px;
    background:#868686;color:#fff;margin-top:8px;padding:0 5px; font-size:12px;
}
.container .main .product .pro-nav .select .download a:hover
{
   text-decoration:none;
}



.container .main .product .list 
{
    margin:15px  auto;
}

.container .main .product .list .list-item
{
    /*background:#f3f3f3;*/
    padding:4px;
    width:222px;
    float:left;
    margin: 0px 10px 20px 10px;
    _margin: 0px 8px 20px 8px;
	overflow:hidden;
}
.container .main .product .list .list-item p
{
    display:block;margin:5px 0;line-height:20px;
	height:40px;
	font-size:12px;
    overflow: hidden;
  
}

.container .main .product .list .list-item p a
{
    
}
.container .main .product .list .list-item p a:hover
{
    color:#000;
}
.container .main .product .list .list-item .img-waper
{
    width:223px;height:221px;overflow:hidden;
}

.container .main .product .list .list-item img
{
    width:223px;
}


.container .main .product .list .list-item .money
{
    margin:10px;color:#868686;
}
.container .main .product .list .list-item .money span
{
    margin-left:2px;color:#ff4900;
}

.container .main .product .list .list-item .other
{
    margin:10px;
}
.container .main .product .list .list-item .other .check
{
    width:100px;float:left;
}
.container .main .product .list .list-item .other .info
{
    width:100px;float:right;text-align:right;color:#868686;font-size:12px;
}


.container .main .pro-rec
{
    width:17%;float:right;
}


 

.container .main .pro-rec .list 
{
    width:200px;overflow:hidden;border:1px solid #f3d7bb;float:right;margin-top:15px;
}

.container .main .pro-rec .list .title
{
    padding:5px 0 5px 10px;color:#ff5400;background:#fff3e8;
}


.container .main .pro-rec .list .list-item
{
    padding:10px;
    width:180px;
    float:left;
    margin:0px 5px 20px 0;
}
.container .main .pro-rec .list .list-item p
{
    display:block;margin:5px 0;
	line-height:20px;
	height:40px;
	overflow:hidden; font-size:12px;
}
.container .main .pro-rec .list .list-item p a
{
    
}
.container .main .pro-rec .list .list-item p a:hover
{
    color:#000;
}
.container .main .pro-rec .list .list-item .img-waper
{
    width:180px;height:180px;overflow:hidden;
}

.container .main .pro-rec .list .list-item img
{
    width:180px;
}


.container .main .pro-rec .list .list-item .money
{
    margin:10px;color:#868686;
}
.container .main .pro-rec .list .list-item .money span
{
    margin-left:2px;color:#ff4900;
}

/*page begin*/
.DivFreoghtContainer{margin-bottom:50px;}
.page_container{margin:10px 50px 20px 0 }
.div_page{float:right; line-height:28px;}
.div_page .page_num{float:left;}
.div_page .page_num span{border:1px solid #cccccc; color:#005aa0; padding:3px 10px; cursor:pointer;}
.div_page .page_num span:hover{text-decoration:underline; color:#ff6600;}
.div_page .page_num .now_page{color:#ff6600; font-weight:bold; border:none;}
.div_page .up_page{float:left; width:66px; height:28px; margin-right:5px; background:url(../images/up_page.jpg) no-repeat; text-indent:-9999px; cursor:pointer;}
.div_page .down_page{float:left; width:66px; height:28px; margin-left:5px; background:url(../images/down_page.jpg) no-repeat; text-indent:-9999px; cursor:pointer;}
.PageNumSpan{float:left; padding:0px 5px;}
.customPage{width:30px; height:18px; border:1px solid #c8c8c8;}
.pageSub{margin-right:10px;}
/*page end*/


@media screen and (min-width:1197px){
	#w-header-box .w-header {
      width: 1280px;
    }
    .container 
    {
        _width:1280px;  
        margin:0 auto;
        min-width:1280px;
	    max-width:1280px;
	
    }
    .container .parame .parame-item .parame-value
    {
        width:1095px;
    }
    .container .keyword .list {
      width: 922px;
    }
    .container .parame2 .parame-item .parame-value
    {
        width:1095px;
    }
    .container .keyword2 .list
    {
        width:902px;
    }
    .container .main .product
    {
        width:83%;
    }
    .container .main .product .list .list-item
    {
        width:223px; 
        border: 1px solid #f5f5f5;
    }

}

/***loading***/
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../webimage/fonts/codropsicons/codropsicons.eot');
	src:url('../webimage/fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../webimage/fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../webimage/fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../webimage/fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

.grid *, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


.grid {
	margin: 0px auto;
	padding: 0;
	list-style: none;
	min-height: 500px;
    padding-top:10px;
}

.js .grid {
	background: url(../webimage/loading_1.gif ) no-repeat 50% 100px;
}

.js .grid.loaded {
	background: none;
}

.grid li {
	display: inline-block;
	overflow: hidden;
	width: 260px;
	text-align: left;
	vertical-align: top;
    border: 1px solid #f5f5f5;
    border-radius:3px;
    -webkit-transition: border-color .2s ease-in;
    -moz-transition: border-color .2s ease-in;
    -o-transition: border-color .2s ease-in;
    transition: border-color .2s ease-in;
    -webkit-transition: margin .2s ease-in;
    -moz-transition: margin .2s ease-in;
    -o-transition: margin .2s ease-in;
    transition: margin .2s ease-in;
}

.js .grid li {
	display: none;
	float: left;
}

.js .grid.loaded li {
	display: block; 
    border-radius:2px;
    margin: 0 auto;
    margin-right:5px;
    margin-bottom:10px;
}
.thumb-img-wapper {
    margin:-4px 5px 5px 5px;
    display: block;
    width: 252px;
    padding-left: 20px;
    position:relative;
  
}
.thumb-img-wapper img{
     width:39px;
     border: 1px solid #CCC;
     padding:1px;
}
.thumb-img-wapper .img-click{
     border: 2px solid #c40001;
}

.thumb-img-wapper h6{
   width:200%;
   display: block; 
}
.thumb-img-wapper h6 b{
   position:relative;
}
.thumb-img-wapper h6 b i{
    position:absolute;
    height: 0;
    left: 15px;
    overflow: hidden;
    position: absolute;
    top: -35px;
    width: 0;
    line-height: 0;
    font-size: 1px;
    border-width: 4px;
    border-color: #fff white #CD0000 #fff;
    border-style: solid;
}
.thumb-img-wapper  s{
   width:22px;
   height:22px;
   display: block;
   position:absolute;
   top:10px;
   background:url(../webimage/thumb-animate-bg.png) no-repeat;
   z-index:2;
}
.thumb-img-box {
    width: 212px;
    overflow: hidden;
    height: 47px;
    padding-top: 4px;
}
.thumb-img-wapper  .thumb-prev{
   left:-5px;
   background-position:0px -40px;
}
.thumb-img-wapper  .thumb-next{
   right:0px;
   background-position:-66px -38px;
}

.thumb-img-wapper  .thumb-prev:hover{
   background-position:0px 0px;
}
.thumb-img-wapper  .thumb-next:hover{
   background-position:-66px 2px;
}
.thumb-info {
    padding-left:10px;
    position:relative;
}
.thumb-info span{
    font-size:20px;
    color:#c70000;
}
.thumb-info span em{
    font-size:75%;
}
.thumb-info label{
    position:absolute;
    top:0;
    right:10px;
    width:20px;
    height:20px;
    background:url(../webimage/checkbox.gif) 50% 71% no-repeat;
}
.thumb-info .check{
    background-position:-2px -1px;
}

.thumb-info input{
    display:none;
}
/* Title box */
.title-box h2 {
	display: block;
	margin: 7px;
	padding: 20px;
	background: #2E3444;
	color: #D3EEE2;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
}

.title-box h2 a {
	display: block;
	font-weight: 900;
}

.title-box h2 a:hover {
	color: #D3EEE2;
}

/* Anchor and image */
.grid li > a,
.grid li .scrollLoading {
	display: block;
	outline: none;
	border: none;
    width: 252px;
    margin: 3px;
    border-radius:2px;
}
.grid li .scrollLoading {
	background:url(../webimage/loading_1.gif) no-repeat 50% 50%;
    opacity:.5;
}
.grid li > a {
	position: relative;
	overflow: hidden;
}

/* Curtain element */
.grid .curtain {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
    background: #2E3444; 
    background: #96cdc8;
    background: #3e6373;
    
}

.grid.swipe-right .curtain {
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

.grid.swipe-down .curtain {
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.grid.swipe-rotate .curtain {
	width: 200%;
	height: 200%;
	-webkit-transform: rotate3d(0,0,1,90deg);
	transform: rotate3d(0,0,1,90deg);
	-webkit-transform-origin: top left;
	transform-origin: top left;
}

/* Shadow */
.grid .curtain::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,1);
	content: '';
}

.grid.swipe-right .curtain::after,
.grid.swipe-rotate .curtain::after {
	left: -100%;
}

.grid.swipe-down .curtain::after {
	top: -100%;
}

/* Title */
.grid li .li-wapper {
	width:260px;
    overflow:hidden;
    margin:0 auto 5px auto;
    padding-bottom:3px; 
}
.js .grid.loaded .li-hover-wapper {
     margin-right:0;
     margin:-4px 0 0 0 ;
}
.grid .li-hover-wapper {
    border: 1px solid #c40001;
    border-radius:0px; 
    
}

.grid li a {
	display:inline-block;
}

.grid li h3 {
    margin: 0;
    padding: 5px 10px 0 10px;
    width: 100%;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
}
.grid li h3 label{
	width:187px;
    overflow: hidden;

}
/* Pseudo element for hover effect */
.grid li div > a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100.5%;
	
	content: '';
	-webkit-transition: border-width 0.2s, border-color 0.2s;
	transition: border-width 0.2s, border-color 0.2s;
}

/* Hover effects */
.grid li.shown div a:hover h3 {
	color: #fff;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
    width: 89%;
    left:14px;
}

.grid li.shown div a:hover::before {
	border-width: 14px;
	border-color: #2E3444; 
    border-color: rgba(46,52,68,.8);
    filter:alpha(opacity=80);
}

/* Animations */

/* Swipe right */
.grid.swipe-right li.animate .curtain {
	-webkit-animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
	animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}

@-webkit-keyframes swipeRight {
	0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
	50%, 60% { -webkit-transform: translate3d(0,0,0); }
	100% { -webkit-transform: translate3d(100%,0,0); }
}

@keyframes swipeRight {
	0% {}
	50%, 60% { -webkit-transform: translate3d(0,0,0); transform: translate(0); }
	100% { -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0); }
} 

/* Swipe down */
.grid.swipe-down li.animate .curtain {
	-webkit-animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
	animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}

@-webkit-keyframes swipeDown {
	0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
	50%, 60% { -webkit-transform: translate3d(0,0,0); }
	100% { -webkit-transform: translate3d(0,100%,0); }
}

@keyframes swipeDown {
	0% {}
	50%, 60% { -webkit-transform: translate(0); transform: translate(0); }
	100% { transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
}

/* Swipe rotate */
.grid.swipe-rotate li.animate .curtain {
	-webkit-animation: swipeRotate 1.5s ease forwards;
	animation: swipeRotate 1.5s ease forwards;
}

@-webkit-keyframes swipeRotate {
	0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
	50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); }
	100% { -webkit-transform: rotate3d(0,0,1,-90deg); }
}

@keyframes swipeRotate {
	0% {}
	50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); transform: rotate3d(0,0,1,0deg); }
	100% { -webkit-transform: rotate3d(0,0,1,-90deg); transform: rotate3d(0,0,1,-90deg); }
}

/* Shadow */
.grid li.animate .curtain::after {
	-webkit-animation: fadeOut 1.5s ease forwards;
	animation: fadeOut 1.5s ease forwards;
	-webkit-animation-delay: inherit;
	animation-delay: inherit;
}

@-webkit-keyframes fadeOut {
	0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
	50%, 60% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeOut {
	0% {}
	50%, 60% { opacity: 1; }
	100% { opacity: 0; }
}

/* Hide image and title and show at half time */
.js .grid li img,
.js .grid li h3 {
	visibility: hidden;
}

.grid li.animate img,
.grid li.animate h3 {
	-webkit-animation: showMe 1.5s step-end forwards;
	animation: showMe 1.5s step-end forwards;
}

@-webkit-keyframes showMe {
	from { visibility: hidden; }
	60%, 100% { visibility: visible; }
}

@keyframes showMe {
	from { visibility: hidden; }
	60%, 100% { visibility: visible; }
}

.grid li.shown img,
.grid li.shown h3 {
	visibility: visible;
}