@charset "utf-8";
/* CSS Document */

.containter 
{
    width:1000px;  
    margin:0 auto; 
	font-size:12px;
	overflow:visible;
	position:relative;
	overflow:hidden;
}




.containter .cate
{
    position:absolute;top:0;left:0;
}
.containter .cate  .cur-dd
{
    border:2px solid #0ac2b2;
    z-index:99999;
 
}
.containter .cate dl
{
    display:block;border:2px solid #fff;background:#fff;
}
.containter .cate dl dt
{
    height:35px;position:relative;
}
.containter .cate dl dd
{
    padding:3px 0 0px 0px;position:relative;border:2px solid #fff;
    padding-bottom: 5px;
   +padding-bottom: 4px;
   _padding-bottom: 3px;
}
.containter .cate dl .cur-dd
{
    border:2px solid #0ac2b2;z-index:99999;
}
.containter .cate dl dd .more-cate
{
    padding:5px 10px 20px 10px;border:2px solid #0b64a9;
    line-height:22px;_top:0px;_right:-181px;    
    display:none;position:absolute;top:-39px;right:-181px;width:135px;
    background:rgba(255,255,255,0.94);padding:25px 20px 20px 20px;
    line-height:28px;_top:-38px;_right:-181px;min-height:80px;
    border:2px solid #0ac2b2;    height: 347px;
}
.containter .cate dl dd .more-cate .split-line
{
    border-bottom:1px dashed #c4c3c3;width:90%;margin:10px auto 10px auto;
}
.containter .cate dl dd .more-cate em
{
   margin-right:5px;
}
.containter .cate dl dd .split
{
    display:none;position:absolute;top:-37px;right:-4px;width:4px;
    background:#fff;z-index:99999;_top:-36px;_right:-2px;
    height:62px; 
    _height:62px;
    height:62px\0;
    height:62px\9\0;   
}

:root .cate dl dd .split{top:-37px; height:61px; }

.containter .cate    .white
{
    background:#fff;
}

@-moz-document url-prefix() { .containter .cate dl dd .split { height:62px !important;} }
.containter .cate dl dd .more-cate a
{
  width:52px;display:inline-block;
}
.containter .cate dl dd a
{
    padding: 0 6px 0 4px;_padding: 0 6px 0 4px;+padding: 0 6px 0 4px;
}
.containter .cate dl .cate-item
{
    background:#f4f4f4;
}
.containter .cate dl  .white
{
    background:#fff;
}
.containter .cate dl dt h1
{
    height:36px;padding:0 0 0 40px;font-size:14px;line-height:36px;
}




 
.containter .cate dl dt i
{
    height:15px;width:15px;position:absolute;top:10px;right:10px;display:block;
    background:url(../webimage/cate_more.png) no-repeat;
}



 
.containter .floor
{
    margin:15px auto 15px auto;
}
.containter .doorway h4{
	position:relative;
	text-indent:6px;
	margin-bottom:15px;
}
.containter .floor h4{
	position:relative;
	font-family:"黑体"; color:#fa7a2f; font-size:24px; font-weight:bold;
	
}
.containter .otherfloor h4{font-family:"黑体"; font-size:26px; font-weight:500; border-bottom:2px solid #000; padding:5px 0;}
.containter .otherfloor h4 span{font-family:"微软雅黑"; padding-right:10px;}
.containter .otherfloor .space{height:660px; overflow:hidden;}

.containter .floor .ju-h4{background:url(../webimage/new_theme/ju_tag.png) no-repeat 0 50%;padding-left:25px;}
.containter .floor h4 .floorB a{font-family:"黑体"; font-size:18px; font-weight:bold; display:inline-block;}
.containter .floor h4 .floorB a i{display:inline-block;width:30px; height:25px;background:url(../webimage/floor2.png) no-repeat;}
.containter .floor h4 .onefloorB a{color:#fd718c !important;}
.containter .floor h4 .twofloorB a{color:#68acdd !important;}
.containter .floor h4 .twofloorB a i{background-position:0 -38px;}
.containter .floor h4 .threefloorB a{color:#31c7a2 !important;}
.containter .floor h4 .threefloorB a i{background-position:0 -89px;}
.containter .floor h4 .fourfloorB a{color:#eeac4b !important;}
.containter .floor h4 .fourfloorB a i{background-position:0 -145px;}
.containter .floor h4 .kw
{
    position:absolute;right:5px;top:0px;
    font-weight:normal;font-size:12px;line-height:35px;
	font-family:"宋体";
}
.containter .floor h4 .kw em
{
    font-weight:bold;font-size:150%;color:#676666;padding:0 5px;
}

.containter  .floor .space .fgb{width:60px; height:100%; float:left; background:url(../webimage/index2.2.png) -180px 280px #9f9f9f no-repeat; cursor:pointer;}
.containter  .floor .space .upfgb{background-color:#c1c1c1;}
.containter  .floor .space .downfgb{float:right; background-position:-240px 280px;}

.containter  .floor .space .tj{width:119px; height:100%; border:1px solid #bbbbbb; border-left:none; margin-top:-2px; float:right; text-align:center;}
.containter  .floor .space .tj span{display:block; background-color:#1b1b1b; color:#FFF; font-family:"微软雅黑"; font-size:16px; line-height:40px; margin-bottom:30px;}
.containter  .floor .space .tj a{display:block; margin-bottom:20px; color:#515151;}
.containter  .floor .space .tj a:hover{color:#e8510f;}

.containter  .floor .space .floor-left .Panel{width:110px; height:90px; overflow:hidden; padding-left:80px;}
.containter  .floor .space .floor-left .Panel span{background:url(../webimage/icon223.png) no-repeat -37px -21px; display:block; width:43px; height:25px;}
.containter  .floor .space .floor-left .Panel span:hover{transform:scale(1.1,1.1); -moz-transform:scale(1.1,1.1); -webkit-transform:scale(1.1,1.1); -o-transform:scale(1.1,1.1); -moz-transition:-moz-transform 0.5s ease-in-out; -webkit-transition:-webkit-transform 0.5s ease-in-out; -o-transition:-o-transform 0.5s ease-in-out;}
.containter  .floor .space .floor-left .second-floor-Panel span{background-position:-38px -72px;}
.containter  .floor .space .floor-left .three-floor-Panel span{background-position:-36px -118px;}
.containter  .floor .space .floor-left .four-floor-Panel span{background-position:-36px -153px;}

.containter  .floor .space .floor-left .Panel a{color:#FFF; display:inline-block; line-height:22px; margin-top:23px; text-align:center;}
.containter  .floor .space .first-floor-Panel{background:url(../webimage/indexnew_03.jpg) no-repeat;}
.containter  .floor .space .second-floor-Panel{background:url(../webimage/indexnew_06.jpg) no-repeat;}
.containter  .floor .space .three-floor-Panel{background:url(../webimage/indexnew_08.jpg) no-repeat;}
.containter  .floor .space .four-floor-Panel{background:url(../webimage/indexnew_10.jpg) no-repeat; border-right:1px solid #e0d7ce;border-bottom:1px solid #e0d7ce;}
.otherAdvertisement{margin-top:30px; width:100%; float:left;}
.otherAdvertisement img{width:100%;}
.containter  .floor .space .unit
{
    border:1px solid #e7e7e7;
}

.containter  .floor .space .new-pro
{
    width:193px;
	height:475px;
	overflow:hidden; position:relative;
}
.containter  .floor .space .new-pro .tip
{
   position:absolute;bottom:0;left:0;background:#788fe7;
   filter:alpha(opacity=83);
   -moz-opacity:0.83;
   -khtml-opacity: 0.83;
   opacity: 0.83; 
   height:55px;
   width:100%;
}
 
.containter  .floor .space .new-pro .waper
{
   margin-top:3px;
   padding-right:5px;
   color:#fff;
   position:absolute;
   bottom:10px;
   right:10px;
   width:85%;
}
.containter  .floor .space .new-pro .waper span
{
   display:block;width:50%; font-size:200%;
   font-weight:600;cursor:default; color:#FFF; float:left;margin-top:20px;
}
.containter  .floor .space .new-pro .waper a
{
    color:#fff; margin-top:30px; display:block; float:right;
}
.containter  .floor .space .new-pro .waper a:hover
{
    color:#FC3;
}


.containter  .floor .space .hot
{
    width:332px;height:475px;border-left:0;overflow:hidden;
}
.containter  .floor .space .hot .tip
{
    height:47px;padding-left:35px;line-height:62px;color:#e82c2b;overflow:hidden;position:relative; border-bottom:2px solid #e65250;
}
.containter  .floor .space .hot .tip i
{
    font-size:190%;font-weight:500; font-style:oblique; font-family:"黑体";
    
}
.containter  .floor .space .hot .tip .hotb{width:27px; height:21px; display:block; position:absolute; top:-10px; left:15px;}

.containter  .floor .space .hot .tip span
{
    position:absolute;top:0px;right:4px;
}
.containter  .floor .space .hot .tip span a
{
    margin:0 5px 0 5px;color:#ec6667; font-size:12px;
}
.containter  .floor .space .hot .tip span a:hover
{
    color:#656565;
}
.containter  .floor .space .hot .waper .large
{
    width:202px;height:275px;float:left;border-right:1px solid #E7E7E7; overflow:hidden;
  
    
}


/*********************/

.containter  .floor .space .hot .waper .large img
{
    width:202px;height:275px;display:block;
}
.containter  .floor .space .hot .waper .large span{width:182px; display:block; line-height:22px; text-align:center; padding:0 10px; position:absolute; bottom:0; left:0; color:#6f6765; background-color:rgba(255,255,255,0.6);}

.containter  .floor .space .hot .waper .small
{
    width:128px;height:275px;float:left;
    _width:128px;overflow:hidden;
}
.containter  .floor .space .hot .waper .small img
{
}

.containter  .floor .space .hot .waper .small .item
{
	border-bottom:1px solid #dfdfdf; text-align:center; margin-top:3px;
}

.containter  .floor .space .hot .waper .small .sib{border-bottom:none;}
.containter  .floor .space .hot .waper .small .sit{height:138px;} 
.containter  .floor .space .hot .waper .small .item p
{
    text-align:center; overflow:hidden;
}
.containter  .floor .space .hot .waper .small .item p label
{
   display:block;color:#999999;
}
.containter  .floor .space .hot .waper .small .item p span
{
   display:block;color:#000000;
}
.containter  .floor .space .hot .waper .small .item a:hover label
{
   color:#00c3b2;
}
.containter  .floor .space .hot .waper .small .item a:hover span
{
   color:#ff0000;
}
.containter  .floor .space .trade
{
    width:471px;height:475px;border-left:0;overflow:hidden;position:relative;
}
.containter  .floor .space .trade .active_trade{float:left; width:200px; overflow:hidden; height:430px; display:none;}
.containter  .floor .space .trade .active_trade .active_trade_info{width:160px; height:170px; background-color:rgba(255,255,255,0.7); position:absolute; bottom:0; padding:0 20px; color:#262525; font-family:"微软雅黑"; font-size:18px; text-align:center;}
.containter  .floor .space .trade .active_trade .active_trade_info p{padding:5px 0;}
.containter  .floor .space .trade .active_trade .active_trade_info p.firstinfo{border-bottom:1px solid #131313; margin-top:70px;}
.containter  .floor .space .trade .waper-left{float:left;width:200px; height:430px; text-align:center;border-right: 1px solid #DFDFDF;}
.containter  .floor .space .trade .waper-left div{padding-top:20px;}
.containter  .floor .space .trade .waper-left p{color:#282828;}
.containter  .floor .space .trade .waper-left label{color:#9a9a9a;}
.containter  .floor .space .trade .waper-left label:hover{color:#00C3B2;}
.containter  .floor .space .trade .waper-left .large
{
    height:235px; overflow:hidden; border-bottom:1px solid #DFDFDF;
    
}
 
.containter  .floor .space .trade .waper-left img
{
	margin-top:10px;
}
.containter  .floor .space .trade .waper-right{float:left; height:430px; width:268px;}
.containter  .floor .space .trade .waper-right .waper{height:320px; width:100%; border-bottom:1px solid #DFDFDF; float:left;}

.containter  .floor .space .trade .waper-right .waper .small
{
    height:320px;
}

.containter  .floor .space .trade .tip_info{color:#FFF; height:45px; padding:0 15px; width:100%; background-color:#8dc594; box-shadow:0 0.5px 2px rgba(0,0,0,0.5); position:relative; overflow:hidden;}
.containter  .floor .space .trade .tip_info b{font-size:190%;font-weight:500; font-family:"黑体"; float:left; margin-top:5px;}
.containter  .floor .space .trade .tip_info h4{font-weight:100; font-size:50%; font-family:Arial; color:#FFF; margin-top:-5px; margin-left:-5px;}
.containter  .floor .space .trade .tip_info span.linktip{float:right; margin:20px 5px 0 0; width:180px;}
.containter  .floor .space .borrig{position:absolute; top:1px; right:-9px; z-index:2;}
.containter  .floor .space .trade .tip_info a{color:#FFF; margin-right:20px; font-size:14px;}
.containter  .floor .space .trade .tip_info a:hover{color:#666;}
.containter i{font-style:normal;}

.containter  .floor .space .trade .waper-right .waper .small .item{height:50%;}
.containter  .floor .space .trade .waper-right .waper .small .item p
{
 padding-bottom:4px;
}
.containter  .floor .space .trade .waper-right .waper .slide
{
    width:134px;height:320px;overflow:hidden;float:right;
    border-left:1px solid #DFDFDF; _width:138px;
}
.containter  .floor .space .trade .waper-right .newstbl{float:left; height:110px; width:268px;}
.containter  .floor .space .trade .waper-right .newstbl span{background-color:#f7f7f7; cursor:pointer; text-align:center; line-height:30px; font-size:14px;8 height:30px; width:50%; float:left; border-left:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; margin-left:-1px;}
.containter  .floor .space .trade .waper-right .newstbl span.clicktbl{background-color:#FFF;font-weight:bold;border-bottom:1px solid #FFF;}
.containter  .floor .space .trade .waper-right .webnews,.containter .floor .space .trade .waper-right .Industrynews{margin:15px 0; float:left; height:50px; overflow:hidden;}
.containter  .floor .space .trade .waper-right .webnews li,.containter .floor .space .trade .waper-right .Industrynews li{width:134px; text-indent:10px; float:left; height:25px; line-height:25px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;} 
.containter  .floor .space .trade .waper-right .webnews li a,.containter .floor .space .trade .waper-right .Industrynews li a{color:#5c5c5c;}
.containter  .floor .space .trade .waper-right .webnews li a:hover,.containter .floor .space .trade .waper-right .Industrynews li a:hover{color:#02b59f;}
.containter  .floor .space .notopborder 
{
    border-top:0;
}

.containter  .floor .space .brand 
{
    
}

 
.containter  .floor .space   .BrandList{width:170px; height:151px;background:rgba(0,0,0,0.5) ;text-align:center;overflow:hidden;padding-top:34px;}
.containter  .floor .space .BrandList  a
{
    display:inline-block;margin:5px;
    width:68px;height:30px;line-height:30px;text-align:center;
    background:#fff;color:#6d6d6d;border:1px solid #fff;overflow:hidden;
}


.containter  .floor .space .BrandList .all-brand{
    
    width:147px;height:30px;line-height:30px;text-align:center; 
}
.containter  .floor .space .BrandList  label
{
    display:block;width:68px;height:30px;cursor:pointer;
    
}
.containter  .floor .space .BrandList .all-brand label{
    
    width:147px; 
}
.containter  .floor .space .BrandList  a:hover
{
    background:#ff841b;color:#fff;border:1px solid #d5731f;
}
.containter  .floor .space .influx 
{ 
    height:151px;width:165px; background:rgba(0,0,0,0.5) ;text-align:center;overflow:hidden;padding-top:8px;
}


.containter  .floor .space .influx  h5
{
    font-size:180%;color:#000000;margin-top:30px; margin-bottom:20px; cursor:pointer; padding-left:20px;font-family:'黑体';
}
.containter  .floor .space .influx  h5 i{width:20px; height:20px; display:inline-block; background:url(../webimage/jhhicon.png) no-repeat 0 -40px; position:absolute; margin-left:10px; margin-top:3px;}
.containter  .floor .space .influx .chq{width:145px;}
.containter  .floor .space .influx .chq i{position:static;margin-top:3px;float:right;}


.containter  .floor .space .influx  p
{
    color:#a9a9aa;margin: 5px 5px -5px 12px;
}
.containter  .floor .space .influx  img
{
    position:absolute;bottom:0;left:320px;
}
.containter  .floor .space .influx  a
{
    display:inline-block;
    width:75px;height:25px;line-height:25px;text-align:center;
    background:#fff;color:#6d6d6d;border:1px solid #fff;
    overflow :hidden;margin:0px 10px 5px 10px;
}
.containter  .floor .space .influx  a label
{
    display:block;cursor:pointer;
    width:75px;height:25px;
   
}
.containter  .floor .space .influx  a:hover
{
    background:#ff841b;color:#fff;border:1px solid #d5731f;
}

.containter  .floor .space .influx  .first
{
   margin-left:10px; 
}
.containter  .first-floor h4
{
    border-bottom-color:#1b1b1b;
    color:#1b1b1b;
    margin-top:20px;   
}
.containter  .second-floor h4
{
    border-bottom-color:#c10e0e;
    color:#c10e0e;
    margin-top:20px;   
}
.containter  .three-floor h4
{
    border-bottom-color:#e8510f;
    color:#e8510f;
    margin-top:20px;   
}
.containter  .four-floor h4
{
    border-bottom-color:#fc9c62;
    color:#fb9e61;
    margin-top:20px;   
}
.containter  .five-floor h4
{
    border-bottom-color:#f86077;
    color:#fa7b8e;
    margin-top:20px;   
}
.containter  .six-floor h4
{
    border-bottom-color:#6ea722;
    color:#7aaf3b;
    margin-top:20px;   
}
.containter  .floor .space .AttentionImg{width:1000px; position:absolute; top:0; left:0; z-index:-1;}
.containter  .floor .space{position:relative; background-color:#FFF;}
.containter  .floor .space .floor-left{width:190px; height:700px;float:left; background-color:#FFF;}
.containter  .floor .space .slide-door{width:170px;padding:0 10px;float:left;word-wrap: break-word;word-break:break-all;}

.containter  .four-floor{}

.containter  .floor .space .slide-door h6
{ 
   font-size:120%;margin-top:10px; margin-bottom:10px;
}
.containter  .floor .space .slide-door a
{ 
   line-height:30px; margin-left:15px; white-space:nowrap;
}
.containter  .floor .space .slide-door .slide-door-img
{ 
   position:absolute;bottom:0px;left:0px; width:190px; height:439px; overflow:hidden;
}
.containter  .floor .space .big_div{width:880px; height:660px; overflow:hidden; float:left;}
.containter  .floor .space .big_room{width:10000%; height:660px; float:left;}
.containter  .floor .space .room-list
{ 
    float:left;  overflow:hidden; height:660px; width:1100px;
}
.containter  .floor .space .room-list .room-item
{ 
    width:219px;height:219px;float:left; position:relative;border:1px solid #bbbbbb; margin-top:-1px; margin-left:-1px; overflow:hidden;
}
.containter  .floor .space .room-list .one_item{width:439px; height:439px;}
.containter  .floor .space .room-list .room-item .room-item-img{width:100%;height:100%; float:left; overflow:hidden;}
.containter  .floor .space .room-list .room-item .room-item-img img{width:100%;}
.containter  .floor .space .room-list .room-item .room-item-info{width:100%; height:100%; position:absolute; background-color:rgba(0,0,0,0.5); overflow:hidden; display:none;}
.containter  .floor .space .room-list .room-item .room-item-info a{display:inline-block; width:100%; height:100%;color:#FFF;}
.containter  .floor .space .room-list .room-item .room-item-info .room-item-message{padding:40% 5% 0 5%; display:block; text-align:center;}
.containter  .floor .space .room-list .room-item .room-item-info .room-item-price{margin-top:20px; display:block; text-align:center;}
.containter  .floor .space .room-list .room-item .soldnum{display:block; background:url(../webimage/numicon.png) no-repeat; width:68px; height:31px; position:absolute; top:0; right:-10px; color:#FFF; text-align:left; line-height:23px; padding-left:6px;}
.containter  .floor .space .room-list .room-item .room-item-info .rim-hover{width:60%; word-break:break-all !important; white-space:normal !important; line-height:18px; margin-top:8px;}

.containter  .first-floor a:hover{color:#fe728d;}
.containter  .second-floor a:hover{color:rgba(51, 153, 225, 1);}
.containter  .three-floor a:hover{color:#32c6a3;}
.containter  .four-floor a:hover{color:rgba(242, 159, 38, 1);}

.rel{position:relative;}
.abs{position:absolute;}
.cate-menu-abs-position{top:33px;left:0px;}
.z9999{z-index:9999}
.fl{float:left;}
.brandcon,.chqcon{height:151px; overflow:hidden; float:left;}
 
.brandcon{border-right:1px solid #E7E7E7;width:168px;}
.chqcon{width:163px;text-align:left;}
.margin-area{width:332px;height:151px;transition: margin .5s;}
.margin-area img{float:left;}
.margin-area .margin-area-area{float:left;width:163px;height:151px;}
.margin-area .ch-bg{background:url(../webimage/ch.jpg) ;}
.margin-area .pp-bg{background:url(../webimage/ch05.jpg) ;}
.pplist a{display:block; width:187px; height:52px; margin:10px 3px;}
.pplist img{border:1px solid #e7e7e7;}
.margin-ch:hover{margin-left:-165px;}
.margin-pp:hover{margin-left:-168px;}
/**************************/
.banner_hide{display:none;}        
.banner_img
{
    -webkit-transition: -webkit-transform 4s linear;
    -moz-transition: -moz-transform 4s linear;
    -ms-transition: -ms-transform 4s linear;
    -o-transition: -o-transform 4s linear;
    transition: transform 4s linear;
    
    -webkit-transform: scaleX(1.05) scaleY(1.05);
    -moz-transform: scaleX(1.05) scaleY(1.05);
    -ms-transform: scaleX(1.05) scaleY(1.05);
    -o-transform: scaleX(1.05) scaleY(1.05);
    transform: scaleX(1.05) scaleY(1.05);
    
}
.animite
{
    -webkit-transition: -webkit-transform 4s linear;
    -ms-transition: -ms-transform 4s linear;
    -moz-transition: -moz-transform 4s linear;
    -o-transition: -o-transform 4s linear;
    transition: transform 4s linear;

    -webkit-transform: scaleX(1) scaleY(1);
    -moz-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
    
}
.sit  img,.containter  .floor .space .hot .waper .small img,.large-two img
{
-webkit-transition: -webkit-transform .2s linear;
-moz-transition: -moz-transform .2s linear;
-o-transition: -o-transform .2s linear;
transition: transform .2s linear;
}


.sit img:hover,.containter  .floor .space .hot .waper .small img:hover,.large-two img:hover
{
-webkit-transform: translateX(-5px);
-moz-transform: translateX(-5px);
-ms-transform: translateX(-5px);
-o-transform: translateX(-5px);
transform: translateX(-5px);
} 

.leftbar {
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
margin: auto;
display: block;
width: 35px;
height: 665px;
-webkit-transform: scale(1);
opacity: 1;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
}
 


.slideBar{position:fixed;width:35px;height:380px;display:block;-webkit-transform: scale(1.2);opacity: 0;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
.fade-animite{-webkit-transform: scale(1);-webkit-transition: all 0.3s ease;transition: all 0.3s ease;opacity: 1;}
#slideBar a{display:block;width:35px;height:35px;margin-bottom:10px;cursor:pointer;overflow:hidden}
#slideBar a b{display:block;width:35px;height:35px;color:#fff;}
#slideBar a em{ display:none;width:35px;height:35px;color:#fff;background:#ff841b;text-align:center;font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;padding-top:8px}
#slideBar a em i{display:block;}
#slideBar .ju{}
#slideBar .ju b{background:url(../webimage/new_theme/new_theme_ju.png) no-repeat 50% 50%;}
#slideBar .f1{}
#slideBar .f1 b{background:url(../webimage/new_theme/new_theme_women.png) no-repeat 50% 50%;}
#slideBar .f2{}
#slideBar .f2 b{background:url(../webimage/new_theme/new_theme_man.png) no-repeat 50% 50%;}
#slideBar .f3{}
#slideBar .f3 b{background:url(../webimage/new_theme/new_theme_shoes.png) no-repeat 50% 50%;}
#slideBar .f4{}
#slideBar .f4 b{background:url(../webimage/new_theme/new_theme_child.png) no-repeat 50% 50%;}
/*************************/


@media screen and (min-width:1197px) {
	.containter{width:1198px;}
	.containter  .floor .space .trade{width:669px;}
	.containter  .floor .space .trade .active_trade{display:block;}
	.containter  .floor .space .big_div{width:1100px;}
	.containter  .floor .space .fgb{width:49px;}
	.containter  .floor .space .tj{width:97px;}
}